/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header .logo img {
    width: 150px; /* Adjust the size of the logo */
    height: auto;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #e6e8ea;
  color: #333;
}
/header/
/* General Header Styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #16a085;
    color: white;
    font-family: Arial, sans-serif;
}

header .logo h1 {
    margin: 0;
    font-size: 2.5em;
    font-weight: bold;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.2em;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Header Right Section (Cart & Login buttons) */
.header-right {
    display: flex;
    align-items: center;
}

.header-right .btn {
    background-color: #16a085;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1em;
    margin-left: 20px;
    border: none;
    cursor: pointer;
    float: right;
}

.header-right .btn:hover {
    background-color: #08a688;

}