<!doctype html>
<html lang="en">
<head>
    {% load static %}

    <link rel="stylesheet" href="{% static 'assets/css/sign_in.css' %}">

    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>


    <!-- Sign In Section -->
    <section class="signin">
        <div class="container">
            <h2>Create an Account</h2>
            <form method="POST">
                {% csrf_token %}
                <label for="email">Email Address</label>
                <input type="email" id="email" name="email" placeholder="Enter your email" required>

                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="Create a password" required>

                <label for="confirmPassword">Confirm Password</label>
                <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm your password" required>

                <button type="submit" class="cta-button">Sign In</button>
            </form>
            <p>Already have an account? <a href="login.html">Login here</a></p>
        </div>
    </section>

    <script src="signin.js"></script>



</body>
</html>